/* --------------------fonts-------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/*-----------------  common style------------------------ */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

h3{
    font-size: 25px;
    color: orange;
}

p{
   color: grey;

}

/* ----------------------- header area ----------------- */

header{
    background: #16358f;
    padding: 100px 0;
    display: flex;
    justify-content: center;    
}

.banner{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.banner-text h1{
    color: white;
    font-size: 70px;
    line-height: 1.4em;
}

.banner-text a{
    background-color: #E02C6D;
    text-decoration: none;
    color: white;
    padding: 15px 40px ;
}

.banner-text a:hover{
    background-color:coral;
    color: black;
    transition: background-color,color 1s linear; 
    transform: scaleY(1.2);
}

.banner-text a i{
    padding-left: 10px;
}

.banner img {
    transition: width 1s ease-in;
}

.banner img:hover {
    width: 105%;
    
}

/* -----------------------End header area----------------- */



/* ------------------- players and blog area ------------ */

main{
    display: flex;
    justify-content: center;   
}

.container{   
    width: 80%;
    margin: 50px 0;      
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}

.player{
    margin: 15px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* -------------------End players and blog area ------------ */


/* ------------------------exhtra section  ---------------------- */

.extra-section{
    width:60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 100px;
}
.blog-heading{
    margin-top: 100px;
    text-align: center;
    color: orange;
}
.blog{
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.blog p{
    padding-left: 10px;
}

.blog a {
	color:red;
}

.match{
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
}

/* ------------------------End extra section ---------------------- */